* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #242424;
}

body .loader {
  width: 150px;
  height: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

body .loader .loader-first {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #ffc039;
  -webkit-animation: clockwise 3s ease-in-out 0s infinite, swapColor 5s linear infinite;
  animation: clockwise 3s ease-in-out 0s infinite, swapColor 5s linear infinite;
}

body .loader .loader-first::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  background-color: #000000;
}

body .loader .loader-second {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #2effd2;
  -webkit-animation: anticlockwise 3s ease-in-out infinite, swapColor 5s linear infinite;
  animation: anticlockwise 3s ease-in-out infinite, swapColor 5s linear infinite;
}

body .loader .loader-second::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  background-color: #000000;
}

body .loader #textInfo {
  position: absolute;
  z-index: 999;
  color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
}

@-webkit-keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  75% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes anticlockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  75% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  25% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  75% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  25% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  75% {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@-webkit-keyframes swapColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes swapColor {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}